*{
    margin: 0;
    padding: 0;
    font-family: 'Karma', serif;
    color: white;
}

header{
    background: #000;
    color: white;
}

.logreg{
    display: flex;
    padding: 1% 2%;
    justify-content: space-between;
    align-items: center;
}

img{
    width: 9%;
}

ul{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    align-content: center;
    margin: 0px 50px;
}

nav ul li{
    list-style: none;
    display: inline-block;
    padding: 5px 36px;
    position: relative;
}

nav ul li a{
    text-decoration: none;
}

nav ul li a:hover{
    color: rgb(87, 208, 255);
}

h1{
    text-align: center;
    padding: 2%;
}

h2{
    text-align: center;
    padding: 3%;
}

body{
    background-image: radial-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(box.jpg);
    background-size: cover;
    background-attachment: fixed;
}

input{
    color: black;
    width: 98% ;
    padding: 1%;
    margin: 3% 0%;
    border-radius: 20px;
}
.roleselect{
    color: black;
    width: 59%;
    border-radius: 20px;
    margin: 3% 0%;
}

.roleselect:hover{
    cursor: pointer;
}

option{
    color: black;
}

.white{
    color: white;
}

.click{
    color: rgb(87, 208, 255);
    text-decoration: none;
}

.click:hover{
    text-decoration: underline;
}

.logregform{
    max-width: 300px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    margin: 2% auto;
    min-height: 294px;
}

.logregbtn{
    width: 100%;
    padding: 1%;
    margin: 3% 0%;
    background: gray;
    border-radius: 20px;
}

.logregbtn:hover{
    background: black;
    cursor: pointer;
    border: 2px solid gray;
}

.about{
    margin-top: 30vh;
    background: #000;
    padding: 2%;
    text-align: center;
    position: relative;
    bottom: 0px;
    border-style: inset none none none;
}
.about h3{
    text-decoration: underline;
}

.rules h2{
    text-decoration: underline;
}

.rules{
        margin: 4% auto;
        width: 80vw;
        background-color: rgba(0, 0, 0, 0.4);
        padding: 3%;
        font-size: 20px;
}

.text{
    overflow-x: auto;
    font-size: 18px;
}

.editbtn{
    color: white;
    width: 10%;
    min-width: 64px;
    padding: 1%;
    background: grey;
}

#rules{
    color: black;
}

.pollform{
    max-width: 500px;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 2%;
    margin: 2% auto;
}
