/* html{
    box-sizing: border-box;
} */

*{
    margin: 0;
    padding: 0;
    font-family: 'Karma', serif;
    color: white;
    font-size: 4vh;
    /* box-sizing: inherit; */
}

body{
    /* width: 100vw;
    height: 100vh; */
    background-image: radial-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)), url(box.jpg);
    /* background-repeat: no-repeat; */
    background-size: cover;
    background-attachment: fixed;
    /* display: flex; */
}

input[type='radio']{
    -webkit-appearance: none; }

label{
    display: inline-block;
    /* min-width: 300px; */
    width: 90%;
    /* width: 20vw; */
    /* height: 6vh; */
    /* min-height: 140px; */
    border-radius: 20px;
    background-color: rgba(113, 155, 165, 0.411);
    text-align: center;
    font-size: 5vh;
    position: relative;
    /* padding: 1%; */
    margin: 5% 0%;
}

label:hover{
    background: white;
    color: #000;
}

input:checked + label{
    background: white;
    color: #000;
}


div{
    max-width: 300px;
    min-width: 162px;
    /* background: #000; */
    padding: 1%;
    position: relative;
    margin: auto;
    margin-top: 30vh;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
}

button{
    width: 80%;
    padding: 1%;
    margin: 10% 0%;
    /* background: rgb(255, 123, 0); */
    background: grey;
    border-radius: 20px;
    /* border-style: inset; */
}

button:hover{
    background: #000;
}